#green{
    background-color:  #009A44;
    height: 200px;
    width: 1340px;
}
#yellow{
    background-color:  #FEDD00;
    height: 200px;
    width: 1340px;
}
#red{
    background-color: #EF3340;
    height: 200px;
    width: 1340px;
}
#blue{
    background-color: #0645B1;
    position: absolute;
    height: 350px;
    width: 350px;
    left: 495px;
    bottom: 200px;
    border-radius: 50%;
}
#border{
    border: 5px solid white;
    
}
html{
    background-color: black;
}